@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Open+Sans&display=swap');

/* * {
    border: 1px solid blue;
} */

html {
    overflow-y: scroll;
    overflow-x: hidden;
    background: none;
    background-color: var(--bg-color);
    top: 150px;
}

:root {
    --font-color: #0f0f0f;
    --font-color-on-dark: #fafafa;
    --bg-color: #fefefe;
    --header-color: #29363b;
    --section-header-color: #383d3f;
    --header-text-color: #fafafa;
    --border-color: #29363b;
    --button-color: #efefef;
    --table-header-bg: #F5F5DC;
    --banner-bg: #f5f5dc;
    --banner-text-color: #29363b;
}

[data-theme="dark"] {
    --font-color: #fefefe;
    --font-color-on-dark: #fafafa;
    --bg-color: #1c2529;
    --header-color: #29363b;
    --section-header-color: #48555D;
    --header-text-color: #fafafa;
    --border-color: #48555D;
    --button-color: #48555D;
    --table-header-bg: #54616d;
    --banner-bg: #29363b;
    --benner-text-color: #f5f5dc;
}


h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
}

body p, body li, button, label, input, select, td, th, h3{
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: var(--font-color);
}

input {
    color: black;
}

button {
    color: var(--font-color);
    background-color: var(--button-color);
}

#hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease; 
    opacity: 1; 
}

#page-logo {
    height:80px;
    mix-blend-mode: luminosity;
}

header {
    background-color: var(--header-color);
    color: var(--header-text-color);
    text-align: left;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: .5rem;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    text-align: center;
    padding: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    color: #fafafa;
    text-decoration: none;
    font-size: 1.3rem;
    background-color:#48555D;
    border-bottom: 2px solid transparent;
}

.navigation a:hover, .navigation a:active{
    background-color: #f3eae6;
    color: #29363B;
}

.navigation a.active {
    border-bottom-color: #fff; /* Add bottom border color when link is active */
}

#hero-button-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#hero-button:hover {
    background-color: #a8b2b6;
}


.home > section:not(:first-child) {
    margin: 1em;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
}


main h2 {
    text-align: center;
    background-color: var(--section-header-color);
    color: #fafafa;
    margin-top: 0;
    border-radius: 9px 9px 0 0;
    padding: .5rem;
}

footer {

    background-color:  #29363B;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: -20px;
    padding-bottom: 0;
}

main section p, main section h3{
    padding-left: 1rem;
    padding-right: 1rem;
}

footer p {
    padding: 1rem;
    color: var(--font-color-on-dark);
}

header h1 {
    margin: 0;
}

header h1, header img {
    display: inline-block;
    vertical-align: middle;
}

body header h1 {
    display: none;
}

#menu {
	font-size: 3rem;
	color: #ffffff;
 	position: absolute;
    background-color: transparent;
	top: 20px;
	right: 20px;
    border-radius: 0;
    border: none;
    text-decoration: none;
}

#menu::before {
    content: "☰"
}

#menu.show::before {
	content: "\2715";
}

.navigation li {
    display: none;
}

.show li {
    display: block;
}

#current-events-section img {
    height: 200px;
    float: left;
    border-radius: 5px;
    margin: 1rem;
}

#weather-widget {
    margin-top: -20px;
}

.ads button {
    margin: 1rem;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: .8rem;
    color: #0f0f0f;
}

.ads img {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -10px;
    position: relative;
    z-index: -1;
}

.ads p{
    margin-top: -200px;
    position: relative;
    z-index: 2;
    color: #fafafa;
    font-weight: lighter;
}

.ads button{
    position: relative;
    z-index: 2;
}

.content-box {
    padding: 1rem;
    height: 200px;
    width: 100%;
    background-color: #723e48e4;
    position: relative;
    z-index: 1;
    margin-top: -240px;
    margin-bottom: 0px;
}

#hero-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 85vh;
}

.switch {
    height: 100px;
    position: absolute;
    left: 20px;
    top: 20px; /* Adjusted top position */
    z-index: 1; /* Added z-index to ensure it's on top */
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 80px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  background: white url('../images/sun.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(44px);
  background: white url('../images/moon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#current-weather-section label,#current-weather-section input {
    margin: .5rem;
}

#current-weather-section button {
    margin: .5rem;
}

#discover-contents > section {
    margin: 1em;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
}

#join-contents > section {
    margin: 1em;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
}

#discover-contents #rightbar img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 94%;
}

#discover-contents #leftbar section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#discover-contents #leftbar img {
    height: 100px;
    padding-left: 1rem;
    transition: transform 0.3s ease;
}

#discover-contents #leftbar img:hover {
    transform: scale(1.1); 
}

.left {
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
}

#hero-button-container-box h2, #hero-button-container-box p {
    background-color: transparent;
    padding: 1rem;
    color: white;
    padding-top: .5rem;
    padding-bottom: 0;
}

.discover li {
    list-style: none;
    padding: .5rem;
}

#hero-button-container-box {
    background-color: #29363b;
    border-radius: 1rem;
    opacity: 90%;
}

.solid-line {
    border: 0;
    height: 1px;
    background-color: #383d3f; 
    margin-left: 1rem;
    margin-right: 1rem; 
}

.join-logo {
    max-width: 200px;
}

.membership-tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.membership-tier > h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#leftbar form {
    max-width: 400px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

#leftbar form label {
    display: block;
    margin-bottom: 10px;
}

#leftbar form input[type="text"],
#leftbar form input[type="email"],
#leftbar form input[type="tel"],
#leftbar form textarea,
#leftbar form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#leftbar form button[type="submit"] {
    background-color: #383d3f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#leftbar #description {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: var(--font-color);
}

#leftbar form button[type="submit"]:hover {
    background-color: #7e553d;
}

#leftbar form textarea {
    resize: none;
    height: 70px;
}

.thankyou-box {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-bottom: 5rem;
}

footer {
    margin-top: auto;
}

#thank-you {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
}

#thank-you img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust as needed for spacing */
}

.join h3 {
    padding-left: 0;
}

/* CSS */
#hero-button {
  align-items: center;
  background-color: #29363b;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}


#hero-button:hover,
#hero-button:focus { 
  background-color: #723e48;
  color: #ffffff;
}

#hero-button:active {
  background: #723e48;
  color: rgb(255, 255, 255, .7);
}

#hero-button:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.list-view {
    display: block;
}

#memberContainer img {
    max-width: 300px;
    max-height: 50px;
}

#memberContainer h2 {
    min-height: 4rem;
}

.member {
    margin: 1em;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
}

.member p, .member img {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Table styling */
.member-table {
    width: 98%;
    border-collapse: collapse;
    margin: 1rem;
}

.member-table th,
.member-table td {
    padding: 8px;
    border: 1px solid #29363b;
}

/* Header styling */
.member-table th {
    background-color: #29363b; /* Header color */
    color: white; /* Font color */
    font-weight: bold;
    text-align: left;
}


.discover-button {
    align-items: center;
    background-color: #29363b;
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
  
.discover-button:hover,
.discover-button:focus { 
    background-color: #723e48;
    color: #ffffff;
}
  
.discover-button:active {
    background: #723e48;
    color: rgb(255, 255, 255, .7);
}
  
.discover-button:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

#current-weather-section {
    text-align: center; /* Center-align the contents horizontally */
}

.weather-container {
    display: inline-block; /* Use inline-block to center the container */
}

.weather-container p {
    margin: 0; /* Remove default margin */
}

.weather-icon {
    margin-right: 10px; /* Add spacing between icon and text */
}

#forecast-table {
    margin: 20px auto; /* Center the table */
    border-collapse: collapse; /* Collapse border spacing */
    width: auto;
}

#forecast-table th,
#forecast-table td {
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
}

#forecast-table th {
    background-color: var(--table-header-bg); /* Background color for column headers */
}

#forecast-table {
    margin: 20px; /* Add margin */
    border-collapse: collapse; /* Collapse border spacing */
    width: auto; /* Set width to auto */
}

/* Banner styles */
.banner-top-center {
    position: fixed;
    top:10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--banner-bg);
    color: var(--banner-text-color);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    z-index: 1000; /* Ensure banner is on top of other content */
    border-radius: 8px;
}

#banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

#close-banner {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

/* Close button styles */
#close-banner:hover {
    color: #ff0000; /* Change color on hover */
}

#affiliated-business img {
    height: 50px;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#affiliated-business p {
    margin: 0;
    padding-left: 1rem;
    color: var(--font-color);
    padding-top: .5rem;
}

#affiliated-business h3 {
    padding-top: .5rem;
}

#business-list .company {
    display: flex;
    flex-direction: column;
    align-items: center;
}


