@media (min-width: 1025px) {
    #page-logo {
        height:120px;
    }

    #menu {
        top: 40px;
    }

    .navigation {
		display: flex;
        position: absolute;
        top: 50px;
        right: 20px;
        width: 40%;
        max-width: 700px;
	}
	.navigation li {
        display: block;
		flex: 1 1 100%;
	}

    .navigation a {
        text-align: center;
        background-color: #29363b;
        font-size: 1.2rem;
    }

    .navigation ul li a {
        padding: 1.25rem;
    }

    header h1 {
        margin-left: 1rem;
        width: 50%;
        font-size: 3rem;
    }

    header h1, header img {
        display: inline-block;
        vertical-align: middle;
    }

    .home {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
    
    #hero-section {
        grid-column: 1/4;
        margin-bottom: 2rem;
    }
    
    #current-events-section {
        grid-column: 1/3;
    }
    
    #current-weather-section {
        grid-column: 3/4;
    }

    
    #menu {
        display: none;
    }

    .navigation a:hover, .navigation a:active{
        background-color: transparent;
        color: #f3eae6;
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #f3eae6;
      }
      
    .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f3eae6;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    }
    
    .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    }

    #discover-contents {
        display: grid;
        grid-template-columns: 20rem auto;
    }

    #join-contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #leftbar {
        grid-column: 1/2;
    }

    #rightbar {
        grid-column: 2/3;
    }

    #discover-contents  #rightbar img {
    width: 95%;
    }

    #discover-contents #leftbar {
        max-height: 55rem;
        min-width: 280px;
    }
    
    #discover-contents #rightbar {
        max-width: 1000px;
    }

    #discover-contents {
        display: flex;
        justify-content: center; 
    }

    .discover .hover-img:hover {
        box-shadow: 0 0 20px #333;
    }

    #join-contents {
        display: flex;
        justify-content: center; 
    }

    #join-contents #rightbar {
        max-width: 500px;
    }

    #join-contents #leftbar {
        max-height: 65rem;
        min-width: 500px;
    }

    #banner-content {
        font-size: 2rem;
    }

    #hero-button {
        font-size: 2rem;
    }    
}