@media only screen and (min-width: 651px) and (max-width: 1024px) {
    /* .navigation {
		display: flex;
	}
	.navigation li {
        display: block;
		flex: 1 1 100%;
	}

    .navigation a {
        text-align: center;
    }

    .navigation ul li a {
        padding: 1.25rem;
    }

    header h1 {
        margin-left: 1rem;
        width: 50%;
        font-size: 2rem;
    }

    #menu {
        display: none;
    } */

    #page-logo {
        height:120px;
    }

    #menu {
        top: 40px;
    }

    .home {
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }
    
    #hero-section {
        grid-column: 1/3;
        margin-bottom: 2rem;
    }
    
    #current-events-section {
        grid-column: 1/2;
    }
    
    #current-weather-section {
        grid-column: 2/3;
    }

    #discover-contents {
        display: grid;
        grid-template-columns: 20rem auto;
    }

    #discover-contents #leftbar {
        grid-column: 1/2;
    }

    #discover-contents #rightbar {
        grid-column: 2/3;
    }

    #discover-contents  #rightbar img {
    width: 95%;
    }

    #discover-contents #leftbar {
        max-height: 55rem;
        min-width: 280px;
    }
    
    #discover-contents #rightbar {
        max-width: 1000px;
    }

    #join-contents #rightbar {
        min-width: 500px;
        max-width: 500px;
        margin: 0 auto;
    }

    #join-contents #leftbar {
        min-width: 500px;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    #forecast-table th,
    #forecast-table td {
        padding: 8px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    #banner-content {
        font-size: 2rem;
    }

    #hero-button {
        font-size: 2rem;
    }

}
