@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    /* border: blue solid 1px; */
}

body {
    margin: 0px;
    font-family: "Open Sans", Arial, sans-serif;
}

header {
    background-color:  #29363B;
    text-align: center;
    padding: .5rem;
    width: 100%;
}

header img {
    width: 100px;
    border-radius: 10px;
}

header img, header h1 {
    display: inline-block;
    vertical-align: middle;

}

h1{
    color: #fafafa;
    padding: 1rem;
}

nav {
    width: 100%;
}

.navigation {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    padding: 1rem;
    font-family: "Open Sans", Arial, sans-serif;
    color: #fafafa;
    background-color: #383d3f;
    text-decoration: none;
}

.navigation a:hover, .navigation a:active{
    background-color: #383d3fd6;
}


.show li {
    display: block;
}

main {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template: auto / auto
}

main ul {
    list-style: none;
}

main ul li {
    margin-top: .5rem;
}

main h2{
    text-align: center;
}

main h2::after{
    content: "";
    display: block;
    border-bottom: 1px solid #383d3f;
    margin-top: 1rem;
}

main h3 {
    text-align: center;
    background-color:  #383d3f;
    color: #fafafa;
    margin-top: 0;
    border-radius: 9px 9px 0 0;
    padding: .5rem;
}

.card p {
    margin-left: 2rem;
}

main .card {
    border: 1px solid #29363B;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

footer {
    background-color:  #29363B;
    text-align: center;
    color: #fafafa;
    margin: 0;
    margin-top: 2rem;
}

footer p {
    padding: .5rem;
    margin: 0;
}

.tab {
    display: inline-block;
    margin-left: 1.5em;
}

#menu {
	font-size: 3rem;
	color: #ffffff;
 	position: absolute;
    background-color: transparent;
	top: 38px;
	right: 20px;
    border-radius: 0;
    border: none;
    text-decoration: none;
}

#menu::before {
    content: "☰"
}

#menu.show::before {
	content: "\2715";
}




