:root {
    --form-bg-color: #f0f0f0;
    --form-text-color: #333;
    --form-border-color: #ccc;
}

form {
    background-color: var(--form-bg-color);
    padding: 20px;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
}

main .form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input, .form button {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border-color);
    border-radius: 5px;
}

input[type="range"] {
    width: calc(100% - 20px);
    margin-right: 20px;
}

output {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: var(--form-text-color);
}
